/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2
{
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.social-links a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.social-links a img {
    width: 32px;
    height: 32px;
}

.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}

